In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import pylab as p
import missingno as msno
import warnings
warnings.filterwarnings('ignore')

In [2]:
from google.colab import drive
drive.mount('/content/drive')

ModuleNotFoundError: No module named 'google.colab'

# New Section

In [3]:
Raw_data=pd.read_csv('Dress_details.csv')
Raw_data.head()

,Dress_type,Brand,Actual_price,Disc_price,Image_url
0,Women's Regular Kurta with Pant,GoSriKi,"3,999",569,https://m.media-amazon.com/images/I/61sBAZZrYp...
1,Women's Ruby Cotton Printed Straight Kurta wit...,GoSriKi,"3,999",699,https://m.media-amazon.com/images/I/51TQ5JLU7J...
2,Women's Crepe Straight Kurta (Pack of 2),GoSriKi,"3,999",379,https://m.media-amazon.com/images/I/713qPWv8X+...
3,Vaibhav Industries Women's Handloom Cotton A-L...,Generic,"1,099",380,https://m.media-amazon.com/images/I/71-i0TRRiz...
4,Women's Anarkali Regular Rayon Kurta With Dupatta,GoSriKi,"2,599",569,https://m.media-amazon.com/images/I/61Ov56SdKV...

In [4]:

Raw_data.shape

(16583, 5)

In [5]:
Raw_data.isnull().sum()

Dress_type        1
Brand             0
Actual_price    861
Disc_price      260
Image_url         0
dtype: int64

In [6]:
Raw_data.shape

(16583, 5)

In [7]:
Raw_data['Image']=Raw_data['Image_url'].drop_duplicates()
Raw_data.head()

,Dress_type,Brand,Actual_price,Disc_price,Image_url,Image
0,Women's Regular Kurta with Pant,GoSriKi,"3,999",569,https://m.media-amazon.com/images/I/61sBAZZrYp...,https://m.media-amazon.com/images/I/61sBAZZrYp...
1,Women's Ruby Cotton Printed Straight Kurta wit...,GoSriKi,"3,999",699,https://m.media-amazon.com/images/I/51TQ5JLU7J...,https://m.media-amazon.com/images/I/51TQ5JLU7J...
2,Women's Crepe Straight Kurta (Pack of 2),GoSriKi,"3,999",379,https://m.media-amazon.com/images/I/713qPWv8X+...,https://m.media-amazon.com/images/I/713qPWv8X+...
3,Vaibhav Industries Women's Handloom Cotton A-L...,Generic,"1,099",380,https://m.media-amazon.com/images/I/71-i0TRRiz...,https://m.media-amazon.com/images/I/71-i0TRRiz...
4,Women's Anarkali Regular Rayon Kurta With Dupatta,GoSriKi,"2,599",569,https://m.media-amazon.com/images/I/61Ov56SdKV...,https://m.media-amazon.com/images/I/61Ov56SdKV...

In [8]:

Raw_data.isnull().sum()

Dress_type        1
Brand             0
Actual_price    861
Disc_price      260
Image_url         0
Image           697
dtype: int64

In [9]:
Raw_data['Actual_price'] = Raw_data['Actual_price'].replace(',', '', regex=True).astype(float)
Raw_data['Disc_price'] = Raw_data['Disc_price'].replace(',', '', regex=True).astype(float)
from sklearn.impute import SimpleImputer
median_imputer = SimpleImputer(missing_values=np.nan, strategy='median')
Raw_data["Actual_price"] = pd.DataFrame(median_imputer.fit_transform(Raw_data[["Actual_price"]]))
Raw_data["Disc_price"] = pd.DataFrame(median_imputer.fit_transform(Raw_data[["Disc_price"]]))
mode_imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
Raw_data["Dress_type"] = pd.DataFrame(mode_imputer.fit_transform(Raw_data[["Dress_type"]]))
Raw_data.head(3)

,Dress_type,Brand,Actual_price,Disc_price,Image_url,Image
0,Women's Regular Kurta with Pant,GoSriKi,3999.0,569.0,https://m.media-amazon.com/images/I/61sBAZZrYp...,https://m.media-amazon.com/images/I/61sBAZZrYp...
1,Women's Ruby Cotton Printed Straight Kurta wit...,GoSriKi,3999.0,699.0,https://m.media-amazon.com/images/I/51TQ5JLU7J...,https://m.media-amazon.com/images/I/51TQ5JLU7J...
2,Women's Crepe Straight Kurta (Pack of 2),GoSriKi,3999.0,379.0,https://m.media-amazon.com/images/I/713qPWv8X+...,https://m.media-amazon.com/images/I/713qPWv8X+...

In [10]:

Raw_data=Raw_data.dropna()
Raw_data.shape

(15886, 6)

# Data Cleaning the data with NLP

In [11]:
#pip install nltk

In [12]:
import re
import nltk
from nltk.corpus import stopwords
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

**bold text**# 1.Removing punctuation

In [13]:
def remove_punctuation(text):
    punctuationfree="".join([i for i in text if i not in string.punctuation])
    return punctuationfree

In [14]:
Raw_data['Dress_type']= Raw_data['Dress_type'].apply(lambda x:remove_punctuation(x))
#Raw_data['Brand']= Raw_data['Brand'].apply(lambda x:remove_punctuation(x))
Raw_data.head()

,Dress_type,Brand,Actual_price,Disc_price,Image_url,Image
0,Womens Regular Kurta with Pant,GoSriKi,3999.0,569.0,https://m.media-amazon.com/images/I/61sBAZZrYp...,https://m.media-amazon.com/images/I/61sBAZZrYp...
1,Womens Ruby Cotton Printed Straight Kurta with...,GoSriKi,3999.0,699.0,https://m.media-amazon.com/images/I/51TQ5JLU7J...,https://m.media-amazon.com/images/I/51TQ5JLU7J...
2,Womens Crepe Straight Kurta Pack of 2,GoSriKi,3999.0,379.0,https://m.media-amazon.com/images/I/713qPWv8X+...,https://m.media-amazon.com/images/I/713qPWv8X+...
3,Vaibhav Industries Womens Handloom Cotton ALin...,Generic,1099.0,380.0,https://m.media-amazon.com/images/I/71-i0TRRiz...,https://m.media-amazon.com/images/I/71-i0TRRiz...
4,Womens Anarkali Regular Rayon Kurta With Dupatta,GoSriKi,2599.0,569.0,https://m.media-amazon.com/images/I/61Ov56SdKV...,https://m.media-amazon.com/images/I/61Ov56SdKV...

# 2.lower case

In [15]:
Raw_data['Dress_type']= Raw_data['Dress_type'].apply(lambda x: x.lower())
#Raw_data['Brand']= Raw_data['Brand'].apply(lambda x: x.lower())
Raw_data.head(3)

,Dress_type,Brand,Actual_price,Disc_price,Image_url,Image
0,womens regular kurta with pant,GoSriKi,3999.0,569.0,https://m.media-amazon.com/images/I/61sBAZZrYp...,https://m.media-amazon.com/images/I/61sBAZZrYp...
1,womens ruby cotton printed straight kurta with...,GoSriKi,3999.0,699.0,https://m.media-amazon.com/images/I/51TQ5JLU7J...,https://m.media-amazon.com/images/I/51TQ5JLU7J...
2,womens crepe straight kurta pack of 2,GoSriKi,3999.0,379.0,https://m.media-amazon.com/images/I/713qPWv8X+...,https://m.media-amazon.com/images/I/713qPWv8X+...

# 3.tokinization

In [16]:
#defining function for tokenization
import re
def tokenization(text):
    tokens = re.split('W+',text)
    return tokens
#applying function to the column
Raw_data['Dress_type']= Raw_data['Dress_type'].apply(lambda x: tokenization(x))
#Raw_data['Brand']= Raw_data['Brand'].apply(lambda x: tokenization(x))
Raw_data.head(3)

,Dress_type,Brand,Actual_price,Disc_price,Image_url,Image
0,[womens regular kurta with pant],GoSriKi,3999.0,569.0,https://m.media-amazon.com/images/I/61sBAZZrYp...,https://m.media-amazon.com/images/I/61sBAZZrYp...
1,[womens ruby cotton printed straight kurta wit...,GoSriKi,3999.0,699.0,https://m.media-amazon.com/images/I/51TQ5JLU7J...,https://m.media-amazon.com/images/I/51TQ5JLU7J...
2,[womens crepe straight kurta pack of 2],GoSriKi,3999.0,379.0,https://m.media-amazon.com/images/I/713qPWv8X+...,https://m.media-amazon.com/images/I/713qPWv8X+...

# 4.stop words

In [17]:


import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\SAMSUNG\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [18]:
import nltk
#Stop words present in the library
stopwords = nltk.corpus.stopwords.words('english')

In [19]:
stopwords

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [20]:
#defining the function to remove stopwords from tokenized text
def remove_stopwords(text):
    output= [i for i in text if i not in stopwords]
    return output

In [21]:
#applying the function
Raw_data['Dress_type']= Raw_data['Dress_type'].apply(lambda x:remove_stopwords(x))
#Raw_data['Brand']= Raw_data['Brand'].apply(lambda x:remove_stopwords(x))
Raw_data.head(3)

,Dress_type,Brand,Actual_price,Disc_price,Image_url,Image
0,[womens regular kurta with pant],GoSriKi,3999.0,569.0,https://m.media-amazon.com/images/I/61sBAZZrYp...,https://m.media-amazon.com/images/I/61sBAZZrYp...
1,[womens ruby cotton printed straight kurta wit...,GoSriKi,3999.0,699.0,https://m.media-amazon.com/images/I/51TQ5JLU7J...,https://m.media-amazon.com/images/I/51TQ5JLU7J...
2,[womens crepe straight kurta pack of 2],GoSriKi,3999.0,379.0,https://m.media-amazon.com/images/I/713qPWv8X+...,https://m.media-amazon.com/images/I/713qPWv8X+...

# 5.stemming

#importing the Stemming function from nltk library
from nltk.stem.porter import PorterStemmer
#defining the object for stemming
porter_stemmer = PorterStemmer()



#defining a function for stemming
def stemming(text):
    stem_text = [porter_stemmer.stem(word) for word in text]
    return stem_text
data['Dress_type']=data['Dress_type'].apply(lambda x: stemming(x))
#data['Brand']=data['Brand'].apply(lambda x: stemming(x))
data.head(3)

# 6.Lemmatization

In [22]:
from nltk.stem import WordNetLemmatizer
#defining the object for Lemmatization
wordnet_lemmatizer = WordNetLemmatizer()

In [23]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\SAMSUNG\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [24]:
#defining the function for lemmatization
def lemmatizer(text):
    lemm_text = [wordnet_lemmatizer.lemmatize(word) for word in text]
    return lemm_text
Raw_data['Dress_type']=Raw_data['Dress_type'].apply(lambda x:lemmatizer(x))
#Raw_data['Brand']=Raw_data['Brand'].apply(lambda x:lemmatizer(x))
Raw_data['Actual_price'] = Raw_data['Actual_price'].replace(',', '', regex=True).astype(float)
Raw_data['Disc_price'] = Raw_data['Disc_price'].replace(',', '', regex=True).astype(float)
Raw_data.head(3)

,Dress_type,Brand,Actual_price,Disc_price,Image_url,Image
0,[womens regular kurta with pant],GoSriKi,3999.0,569.0,https://m.media-amazon.com/images/I/61sBAZZrYp...,https://m.media-amazon.com/images/I/61sBAZZrYp...
1,[womens ruby cotton printed straight kurta wit...,GoSriKi,3999.0,699.0,https://m.media-amazon.com/images/I/51TQ5JLU7J...,https://m.media-amazon.com/images/I/51TQ5JLU7J...
2,[womens crepe straight kurta pack of 2],GoSriKi,3999.0,379.0,https://m.media-amazon.com/images/I/713qPWv8X+...,https://m.media-amazon.com/images/I/713qPWv8X+...

# preprocessing with NLP

In [25]:
Raw_data['Dress_type']=Raw_data['Dress_type'].apply(lambda x: x[0])
Raw_data.head(10)

,Dress_type,Brand,Actual_price,Disc_price,Image_url,Image
0,womens regular kurta with pant,GoSriKi,3999.0,569.0,https://m.media-amazon.com/images/I/61sBAZZrYp...,https://m.media-amazon.com/images/I/61sBAZZrYp...
1,womens ruby cotton printed straight kurta with...,GoSriKi,3999.0,699.0,https://m.media-amazon.com/images/I/51TQ5JLU7J...,https://m.media-amazon.com/images/I/51TQ5JLU7J...
2,womens crepe straight kurta pack of 2,GoSriKi,3999.0,379.0,https://m.media-amazon.com/images/I/713qPWv8X+...,https://m.media-amazon.com/images/I/713qPWv8X+...
3,vaibhav industries womens handloom cotton alin...,Generic,1099.0,380.0,https://m.media-amazon.com/images/I/71-i0TRRiz...,https://m.media-amazon.com/images/I/71-i0TRRiz...
4,womens anarkali regular rayon kurta with dupatta,GoSriKi,2599.0,569.0,https://m.media-amazon.com/images/I/61Ov56SdKV...,https://m.media-amazon.com/images/I/61Ov56SdKV...
5,womens multicolor printed straight kurta pack ...,GoSriKi,3999.0,379.0,https://m.media-amazon.com/images/I/61VyRze7LT...,https://m.media-amazon.com/images/I/61VyRze7LT...
6,womens aline crepe kurta,Janasya,1699.0,529.0,https://m.media-amazon.com/images/I/71WTxTRa1N...,https://m.media-amazon.com/images/I/71WTxTRa1N...
7,womens white colour cotton printed kurti with ...,Jaipuri Fashionista,2549.0,799.0,https://m.media-amazon.com/images/I/61uPb41kNl...,https://m.media-amazon.com/images/I/61uPb41kNl...
8,womens pure cotton flower print kurta with pal...,GoSriKi,3999.0,569.0,https://m.media-amazon.com/images/I/618iblH-bI...,https://m.media-amazon.com/images/I/618iblH-bI...
9,womens cotton straightkurta and palazzos dupatta,GoSriKi,3599.0,659.0,https://m.media-amazon.com/images/I/61g58-cu8A...,https://m.media-amazon.com/images/I/61g58-cu8A...

In [26]:
Raw_data.to_csv('mydress.csv')

In [29]:
!pip install spacy

Collecting spacy
  Downloading spacy-3.1.2-cp38-cp38-win_amd64.whl (12.0 MB)
Requirement already satisfied: numpy>=1.15.0 in c:\users\samsung\anaconda3\lib\site-packages (from spacy) (1.19.2)
Collecting typer<0.4.0,>=0.3.0
  Downloading typer-0.3.2-py3-none-any.whl (21 kB)
Collecting srsly<3.0.0,>=2.4.1
  Downloading srsly-2.4.1-cp38-cp38-win_amd64.whl (451 kB)
Collecting blis<0.8.0,>=0.4.0
  Downloading blis-0.7.4-cp38-cp38-win_amd64.whl (6.5 MB)
Collecting wasabi<1.1.0,>=0.8.1
  Downloading wasabi-0.8.2-py3-none-any.whl (23 kB)
Collecting catalogue<2.1.0,>=2.0.4
  Downloading catalogue-2.0.6-py3-none-any.whl (17 kB)
Requirement already satisfied: jinja2 in c:\users\samsung\anaconda3\lib\site-packages (from spacy) (2.11.2)
Requirement already satisfied: setuptools in c:\users\samsung\anaconda3\lib\site-packages (from spacy) (50.3.1.post20201107)
Requirement already satisfied: packaging>=20.0 in c:\users\samsung\anaconda3\lib\site-packages (from spacy) (20.4)
Collecting cymem<2.1.0,>=2.0.2
  Downloading cymem-2.0.5-cp38-cp38-win_amd64.whl (36 kB)
Collecting spacy-legacy<3.1.0,>=3.0.7
  Downloading spacy_legacy-3.0.8-py2.py3-none-any.whl (14 kB)
Collecting thinc<8.1.0,>=8.0.8
  Downloading thinc-8.0.8-cp38-cp38-win_amd64.whl (1.0 MB)
Collecting murmurhash<1.1.0,>=0.28.0
  Downloading murmurhash-1.0.5-cp38-cp38-win_amd64.whl (21 kB)
Collecting preshed<3.1.0,>=3.0.2
  Downloading preshed-3.0.5-cp38-cp38-win_amd64.whl (112 kB)
Collecting pydantic!=1.8,!=1.8.1,<1.9.0,>=1.7.4
  Downloading pydantic-1.8.2-cp38-cp38-win_amd64.whl (2.0 MB)
Collecting pathy>=0.3.5
  Downloading pathy-0.6.0-py3-none-any.whl (42 kB)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in c:\users\samsung\anaconda3\lib\site-packages (from spacy) (4.50.2)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in c:\users\samsung\anaconda3\lib\site-packages (from spacy) (2.24.0)
Requirement already satisfied: click<7.2.0,>=7.1.1 in c:\users\samsung\anaconda3\lib\site-packages (from typer<0.4.0,>=0.3.0->spacy) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\samsung\anaconda3\lib\site-packages (from jinja2->spacy) (1.1.1)
Requirement already satisfied: six in c:\users\samsung\anaconda3\lib\site-packages (from packaging>=20.0->spacy) (1.12.0)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\samsung\anaconda3\lib\site-packages (from packaging>=20.0->spacy) (2.4.7)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\samsung\anaconda3\lib\site-packages (from pydantic!=1.8,!=1.8.1,<1.9.0,>=1.7.4->spacy) (3.7.4.3)
Requirement already satisfied: smart-open<6.0.0,>=5.0.0 in c:\users\samsung\anaconda3\lib\site-packages (from pathy>=0.3.5->spacy) (5.1.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\samsung\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\samsung\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\samsung\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (1.25.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\samsung\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (2020.6.20)
Installing collected packages: typer, catalogue, srsly, blis, wasabi, cymem, spacy-legacy, pydantic, murmurhash, preshed, thinc, pathy, spacy
Successfully installed blis-0.7.4 catalogue-2.0.6 cymem-2.0.5 murmurhash-1.0.5 pathy-0.6.0 preshed-3.0.5 pydantic-1.8.2 spacy-3.1.2 spacy-legacy-3.0.8 srsly-2.4.1 thinc-8.0.8 typer-0.3.2 wasabi-0.8.2

In [32]:
import spacy
nlp = spacy.load('en_core_web_sm')
def get_vec(x):
    doc=nlp(x)
    return doc.vector.reshape(1,-1)

In [33]:
%%time
Raw_data['vect_Dress']=Raw_data['Dress_type'].apply(lambda x: get_vec(x))

Wall time: 2min 38s

In [34]:
Raw_data['vect_Dress']

0        [[0.4429706, -0.2632046, -0.09516694, 0.148175...
1        [[0.25578102, 0.048071027, 0.16023882, 0.11688...
2        [[0.15358554, -0.0940085, 0.06583993, -0.02861...
3        [[0.60030544, 0.04324627, -0.14235395, 0.26038...
4        [[0.12671414, 0.028516194, -0.19516245, 0.0227...
                               ...
16578    [[0.16183509, -0.4166492, 0.00087171793, 0.063...
16579    [[0.23731165, -0.3380373, -0.019397944, -0.093...
16580    [[0.23731165, -0.3380373, -0.019397944, -0.093...
16581    [[0.035354733, -0.3092924, 0.11632571, -0.1475...
16582    [[0.105122745, -0.6049895, 0.28359747, -0.5197...
Name: vect_Dress, Length: 15886, dtype: object

In [35]:
X = np.concatenate(Raw_data['vect_Dress'].to_numpy(),axis=0)

In [36]:
X=pd.DataFrame(X)
X

,0,1,2,3,4,5,6,7,8,9,...,86,87,88,89,90,91,92,93,94,95
0,0.442971,-0.263205,-0.095167,0.148176,0.647727,-0.249688,-0.089781,-0.231643,-0.058682,-0.289941,...,-0.039896,-0.233428,0.188004,-0.380036,-0.525872,0.220265,0.174194,0.030483,-0.021889,-0.256969
1,0.255781,0.048071,0.160239,0.116890,0.566675,-0.397693,-0.271326,-0.320081,0.078341,0.080512,...,-0.238899,-0.184462,-0.357056,-0.065337,-0.364765,0.132182,-0.034197,0.230211,0.151900,0.150108
2,0.153586,-0.094008,0.065840,-0.028615,0.449786,-0.575992,-0.252231,-0.286483,0.272567,-0.261945,...,0.157271,-0.511953,-0.045064,-0.038822,-0.085514,0.206021,0.030645,0.007385,0.308795,0.007068
3,0.600305,0.043246,-0.142354,0.260382,0.530575,-0.548285,-0.230154,0.123014,-0.536795,0.369531,...,-0.319450,-0.452915,-0.080815,0.245346,-0.726879,0.096287,0.675426,-0.081821,-0.195226,0.128840
4,0.126714,0.028516,-0.195162,0.022792,0.452253,-0.329238,0.107523,-0.142416,-0.127193,-0.086445,...,-0.181254,-0.305616,0.199885,-0.042557,-0.385680,0.401300,0.172454,0.315356,0.177265,-0.189503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15881,0.161835,-0.416649,0.000872,0.063014,0.401884,-0.357408,-0.169833,-0.851932,-0.093709,-0.272365,...,0.226815,-0.423438,0.323361,-0.274703,-0.604262,0.442299,-0.348008,-0.021842,0.174215,-0.250218
15882,0.237312,-0.338037,-0.019398,-0.093324,0.522848,-0.230418,-0.198123,-0.489329,-0.103565,-0.187610,...,0.173631,-0.240453,0.449099,-0.267589,-0.678992,0.102609,-0.547008,-0.144799,0.159576,-0.185742
15883,0.237312,-0.338037,-0.019398,-0.093324,0.522848,-0.230418,-0.198123,-0.489329,-0.103565,-0.187610,...,0.173631,-0.240453,0.449099,-0.267589,-0.678992,0.102609,-0.547008,-0.144799,0.159576,-0.185742
15884,0.035355,-0.309292,0.116326,-0.147572,0.100393,-0.412809,-0.952884,-0.774007,-0.372769,-0.233689,...,0.130137,-0.604646,0.461586,-0.356767,-0.595959,0.583633,-0.476277,0.161793,0.872395,-0.560700
15885,0.105123,-0.604990,0.283597,-0.519757,0.258968,-0.280744,-0.446336,-0.201505,-0.065202,0.193775,...,0.002850,-0.605819,-0.086232,-0.293513,-0.283012,0.348826,-0.022211,-0.126545,0.707054,0.036161

In [37]:
Raw_data.drop(columns=['Image_url'],axis=1,inplace=True)
Raw_data.head()

,Dress_type,Brand,Actual_price,Disc_price,Image,vect_Dress
0,womens regular kurta with pant,GoSriKi,3999.0,569.0,https://m.media-amazon.com/images/I/61sBAZZrYp...,"[[0.4429706, -0.2632046, -0.09516694, 0.148175..."
1,womens ruby cotton printed straight kurta with...,GoSriKi,3999.0,699.0,https://m.media-amazon.com/images/I/51TQ5JLU7J...,"[[0.25578102, 0.048071027, 0.16023882, 0.11688..."
2,womens crepe straight kurta pack of 2,GoSriKi,3999.0,379.0,https://m.media-amazon.com/images/I/713qPWv8X+...,"[[0.15358554, -0.0940085, 0.06583993, -0.02861..."
3,vaibhav industries womens handloom cotton alin...,Generic,1099.0,380.0,https://m.media-amazon.com/images/I/71-i0TRRiz...,"[[0.60030544, 0.04324627, -0.14235395, 0.26038..."
4,womens anarkali regular rayon kurta with dupatta,GoSriKi,2599.0,569.0,https://m.media-amazon.com/images/I/61Ov56SdKV...,"[[0.12671414, 0.028516194, -0.19516245, 0.0227..."

In [38]:
#creating the tf-idl
#from sklearn.feature_extraction.text import TfidfVectorizer
#cv2=TfidfVectorizer(use_idf=True)
#x1=cv2.fit_transform(Raw_data['Dress_type']).toarray()
#x1=pd.DataFrame(x1)
#x1=x1.reindex()
Y=pd.get_dummies(Raw_data['Brand'])
Y=Y.reset_index(drop=True)
Y

,"""PH"" POSHAKHUB",1 Stop Fashion,16 Always,6TH AVENUE STREETWEAR,7TH FAB,9ine Pillars,A ONE,A UNIQUE,A-ART,A.W. Enterprises,...,stylemyth - fashion point,suhag handloom,sun kurti's,the bebo,unique store,vishvek,vpk kurti,wakshi,अंdazz-e-हिंd,दो dhaage
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15881,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15882,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15883,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15884,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15885,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [39]:
X2=Raw_data[['Actual_price','Disc_price']]
X2=X2.reset_index(drop=True)
X2

       Actual_price  Disc_price
0            3999.0       569.0
1            3999.0       699.0
2            3999.0       379.0
3            1099.0       380.0
4            2599.0       569.0
...             ...         ...
15881        2599.0      1065.0
15882         799.0       399.0
15883         999.0       499.0
15884        1899.0       949.0
15885         799.0       399.0

[15886 rows x 2 columns]

In [40]:


df1=pd.concat([X,Y,X2], axis=1, ignore_index=True)
df1

,0,1,2,3,4,5,6,7,8,9,...,1934,1935,1936,1937,1938,1939,1940,1941,1942,1943
0,0.442971,-0.263205,-0.095167,0.148176,0.647727,-0.249688,-0.089781,-0.231643,-0.058682,-0.289941,...,0,0,0,0,0,0,0,0,3999.0,569.0
1,0.255781,0.048071,0.160239,0.116890,0.566675,-0.397693,-0.271326,-0.320081,0.078341,0.080512,...,0,0,0,0,0,0,0,0,3999.0,699.0
2,0.153586,-0.094008,0.065840,-0.028615,0.449786,-0.575992,-0.252231,-0.286483,0.272567,-0.261945,...,0,0,0,0,0,0,0,0,3999.0,379.0
3,0.600305,0.043246,-0.142354,0.260382,0.530575,-0.548285,-0.230154,0.123014,-0.536795,0.369531,...,0,0,0,0,0,0,0,0,1099.0,380.0
4,0.126714,0.028516,-0.195162,0.022792,0.452253,-0.329238,0.107523,-0.142416,-0.127193,-0.086445,...,0,0,0,0,0,0,0,0,2599.0,569.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15881,0.161835,-0.416649,0.000872,0.063014,0.401884,-0.357408,-0.169833,-0.851932,-0.093709,-0.272365,...,0,0,0,0,0,0,0,0,2599.0,1065.0
15882,0.237312,-0.338037,-0.019398,-0.093324,0.522848,-0.230418,-0.198123,-0.489329,-0.103565,-0.187610,...,0,0,0,0,0,0,0,0,799.0,399.0
15883,0.237312,-0.338037,-0.019398,-0.093324,0.522848,-0.230418,-0.198123,-0.489329,-0.103565,-0.187610,...,0,0,0,0,0,0,0,0,999.0,499.0
15884,0.035355,-0.309292,0.116326,-0.147572,0.100393,-0.412809,-0.952884,-0.774007,-0.372769,-0.233689,...,0,0,0,0,0,0,0,0,1899.0,949.0
15885,0.105123,-0.604990,0.283597,-0.519757,0.258968,-0.280744,-0.446336,-0.201505,-0.065202,0.193775,...,0,0,0,0,0,0,0,0,799.0,399.0

In [41]:
df1.to_csv('kurtidress.csv')

# image to vector

In [4]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from keras.preprocessing.image import ImageDataGenerator

In [5]:
df1=pd.read_csv('kurtidress.csv')

In [3]:
data = ImageDataGenerator(
        rescale=1./255)

NameError: name 'ImageDataGenerator' is not defined

In [ ]:
!unzip '/content/drive/MyDrive/Dresses_images.zip' -d '/content/drive/MyDrive/Dressres'

In [ ]:
train_set=data.flow_from_directory(directory='/content/drive/MyDrive/Dressres',target_size=(256, 256),
    class_mode='binary',
    batch_size=32)

In [ ]:
15886/32

In [ ]:

import tensorflow as tf
from tensorflow.keras.applications.resnet50 import ResNet50, preprocess_input, decode_predictions
from tensorflow.keras import layers
from tensorflow.keras.layers import Conv2D, MaxPooling2D, BatchNormalization, Activation, Flatten, Dense, Dropout, GlobalAveragePooling2D
from tensorflow.keras.models import Sequential, Model

In [ ]:

frozen = ResNet50(weights="imagenet", input_shape=(256,256,3), include_top=False)
trainable = GlobalAveragePooling2D()(frozen.output)
model = Model(inputs=frozen.input, outputs=trainable)

In [ ]:
from tqdm import tqdm
def get_deep_features(data,model):
    feats=[]
    label=[]
    count=0
    for i in tqdm(data):
        count+=1
        if (count<= 497):
            for j in tqdm(i[0]):
                x_in = np.expand_dims(j, axis=0)
                x_in = preprocess_input(x_in)
                features = model.predict(x_in)
                features = features.flatten()
                feats.append(features)
        else:
            print('dnuogfwif')
            break      

    return feats

In [ ]:
img = get_deep_features(train_set,model)

In [ ]:
img_data = pd.DataFrame(img)
img_data

In [ ]:
img_data.to_csv('KURTIES_images.csv',index=False)

In [6]:
img_data=pd.read_csv('KURTIES_images.csv')
img_data.head()

,0,1,2,3,4,5,6,7,8,9,...,2038,2039,2040,2041,2042,2043,2044,2045,2046,2047
0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.010424,0.011061,0.0,...,0.0,0.0,0.729943,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
1,0.000000,0.0,0.0,0.0,0.000403,0.0,0.0,0.027985,0.070287,0.0,...,0.0,0.0,0.526912,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
2,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.012324,0.055183,0.0,...,0.0,0.0,0.530618,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
3,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.073045,0.0,...,0.0,0.0,0.509812,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
4,0.002151,0.0,0.0,0.0,0.006364,0.0,0.0,0.008296,0.005799,0.0,...,0.0,0.0,0.300200,0.0,0.0,0.0,0.0,0.0,0.263451,0.0

In [7]:
dataframe=pd.concat([img_data,df1], axis=1, ignore_index=True)
dataframe.head(3)

,0,1,2,3,4,5,6,7,8,9,...,3983,3984,3985,3986,3987,3988,3989,3990,3991,3992
0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.010424,0.011061,0.0,...,0,0,0,0,0,0,0,0,3999.0,569.0
1,0.0,0.0,0.0,0.0,0.000403,0.0,0.0,0.027985,0.070287,0.0,...,0,0,0,0,0,0,0,0,3999.0,699.0
2,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.012324,0.055183,0.0,...,0,0,0,0,0,0,0,0,3999.0,379.0

In [8]:
from sklearn.metrics.pairwise import cosine_similarity
similarity=cosine_similarity(dataframe)

In [9]:
dress=pd.DataFrame(similarity)
dress

,0,1,2,3,4,5,6,7,8,9,...,15876,15877,15878,15879,15880,15881,15882,15883,15884,15885
0,1.000000,0.999497,0.998902,0.981520,0.997237,0.998902,0.987091,0.986828,0.999998,0.999206,...,0.116169,0.065704,0.171637,0.060293,0.120368,0.168858,0.053274,0.066544,0.125672,0.053264
1,0.999497,1.000000,0.996916,0.987064,0.999086,0.996916,0.991663,0.991459,0.999496,0.999964,...,0.116911,0.066426,0.173818,0.061239,0.123574,0.170369,0.054057,0.067460,0.127182,0.054046
2,0.998902,0.996916,1.000000,0.971538,0.992673,1.000000,0.978530,0.978176,0.998902,0.996249,...,0.115716,0.065378,0.168947,0.059646,0.116261,0.167165,0.052882,0.065929,0.124064,0.052872
3,0.981520,0.987064,0.971538,1.000000,0.992989,0.971538,0.999470,0.999455,0.981529,0.988334,...,0.119940,0.070145,0.183171,0.066166,0.138865,0.176413,0.058275,0.072139,0.133906,0.058263
4,0.997237,0.999086,0.992673,0.992989,1.000000,0.992673,0.996246,0.996104,0.997238,0.999398,...,0.118644,0.068217,0.177378,0.063339,0.128594,0.173037,0.055950,0.069510,0.129926,0.055939
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15881,0.168858,0.170369,0.167165,0.176413,0.173037,0.167900,0.176825,0.176118,0.170808,0.172843,...,0.998261,0.994240,0.999770,0.993826,0.997429,1.000000,0.992915,0.994474,0.999046,0.992914
15882,0.053274,0.054057,0.052882,0.058275,0.055950,0.053628,0.058806,0.058067,0.055252,0.056395,...,0.998008,0.999921,0.991813,0.999961,0.994684,0.992915,1.000000,0.999902,0.997061,1.000000
15883,0.066544,0.067460,0.065929,0.072139,0.069510,0.066674,0.072609,0.071875,0.068520,0.069829,...,0.998748,0.999981,0.993504,0.999980,0.995829,0.994474,0.999902,1.000000,0.998037,0.999902
15884,0.125672,0.127182,0.124064,0.133906,0.129926,0.124804,0.134102,0.133398,0.127635,0.129678,...,0.999655,0.997845,0.998670,0.997661,0.998553,0.999046,0.997061,0.998037,1.000000,0.997060
15885,0.053264,0.054046,0.052872,0.058263,0.055939,0.053617,0.058795,0.058056,0.055242,0.056385,...,0.998007,0.999921,0.991812,0.999961,0.994683,0.992914,1.000000,0.999902,0.997060,1.000000

In [13]:
similar=[]
for i in range(dress.shape[0]):
    similar.append(list(dress[i].sort_values(ascending=False)[:11].index))

In [14]:
recommendprod=pd.DataFrame(similar)

In [15]:
recommendprod

,0,1,2,3,4,5,6,7,8,9,10
0,0,8,30,25,84,57,29,46,72,1,116
1,1,9,25,29,46,20,72,75,14,30,66
2,2,5,84,0,8,207,30,57,25,29,46
3,3,47,49,31,36,56,65,67,45,6,7
4,4,13,11,21,24,22,42,23,32,14,33
...,...,...,...,...,...,...,...,...,...,...,...
15881,15881,13435,10352,13925,15269,12188,12909,8537,13314,10891,12260
15882,15882,15885,15731,14013,15671,14145,14167,9915,11664,15449,13624
15883,15883,12751,14182,14431,15842,12664,12652,12565,12897,14571,11307
15884,15884,14987,14276,13307,14922,12459,13318,10867,14888,15109,10103
15885,15885,15882,15731,14013,15671,14145,14167,9915,11664,15449,13624

In [16]:
recommendprod.to_csv('mydress1.csv')

In [13]:


import pickle

In [14]:
pickle.dump(df1,open('dress_list.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))